/* Đổi theme */
/* Huy member  */
#navbar__switch{
    cursor: pointer;
  }
  .navbar__sun{
    display: none;
  }
  .dark #navbar__switch .navbar__sun {
    display: block;
    color: white;
  }
  
  .dark #navbar__switch .navbar__moon {
    display: none;
  }
  .dark#myBody, .dark .sticky {
    background-color:#222222 ;
  }
  .dark .sticky nav.navbar a.navbar__logo {
    color: #fff ;
  }
  .dark .welcome__left__below h3{
    color: #fdfffc;
  }
  
  .dark .welcome__left__below p{
    color: #b7b7b7;
  }
  
  .dark .welcome__left h2{
    color: #0b0d0e;
  }
  .dark .sticky ul#menu{
    color: #fff;
  }
  .dark .grow__left h3{
    color: #fdfffc;;
  }
  .dark .grow__left p {
    color:#b7b7b7;
  }
  .dark .grow__right-item{
    background-color:#222222;
    box-shadow: 0 1rem 3rem rgb(23 19 19);
  }
  .dark .grow__right-item h4 a{
    color: #fdfffc;
  }
  @media (max-width: 768px){
    .dark .welcome__left-content{
      background-color: #222222;
    }
  }
  .dark ul.submenu {
    background-color: #222222;
  }
  .dark ul.submenu li a{
    color: #fdfffc;
  }
  .dark .grow__right-item:hover{
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
  }
  /* Hanh_Member */
  
  
    /* Dark Theme*/
  
    /* .dark #switchButton {
      background-color: black;
    } */
  .dark #switchButton .flaticon-sun {
      display: block;   
    }
    
  .dark #switchButton .flaticon-moon {
      display: none;
    }
  /* Card-Organic */
  .dark#myBody .card{
      background: #222222;
      border: 20px;
  }
  .dark#myBody .organic-bot__item .card-title{
      color: #fff;
  }
  .dark#myBody .farmlist-info h4{
      color: #fff;
  }
  .dark#myBody .organic-bot__item .card-title:hover{
      color: var(--secondary-color);
      transition: all 0.5s;
  }
  /* Farm-list */
  .dark#myBody  .farmlist-content:hover h4{
      color: var(--secondary-color);
      transition: all 0.5s;
  }
  .farmlist-content:hover .dark#myBody .farmlist-info h4{
      color: var(--secondary-color);
      transition: all 0.5s;
  }
  /* gallery */
  .dark#myBody .gallery__effect h3{
      color: #fff;
  }
  .dark#myBody .gallery__effect p{
      color: #b7b7b7;
  }
  
  /* Quality */
  .dark#myBody .quality-left h3, 
  .dark#myBody .quality-info h4{
    color: #fff;
  }
  .dark#myBody .quality-left p{
    color: #b7b7b7;
  
  }
  